* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

header {
   
   
    
   
   

}

header ul {
    display: flex;
    justify-content: space-between;
    position: fixed;
    
}

header ul li {
    list-style-type: none;
}

main {
    background-color: #6528F7;
}